<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.johnmagdalinos.android.shopandcook">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.johnmagdalinos.android.shopandcook.ui.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.johnmagdalinos.android.shopandcook.ui.DetailActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.johnmagdalinos.android.shopandcook.ui.MainActivity"
            android:theme="@style/AppTheme.detail">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
        </activity>

        <service android:name="com.johnmagdalinos.android.shopandcook.utilities.RecipeIntentService"/>
        <service
            android:name="com.johnmagdalinos.android.shopandcook.ui.appwidgets.ShoppingListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <service android:name="com.johnmagdalinos.android.shopandcook.ui.appwidgets.WidgetUpdateService"/>
        <service
            android:name="com.johnmagdalinos.android.shopandcook.ui.appwidgets.DaysWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <service
            android:name="com.johnmagdalinos.android.shopandcook.ui.appwidgets.WeekWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <provider
            android:name="com.johnmagdalinos.android.shopandcook.data.RecipeProvider"
            android:authorities="com.johnmagdalinos.android.shopandcook"
            android:exported="false"/>

        <receiver android:name="com.johnmagdalinos.android.shopandcook.ui.appwidgets.ShoppingListAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/shopping_list_app_widget_info"/>
        </receiver>
        <receiver android:name="com.johnmagdalinos.android.shopandcook.ui.appwidgets.DayAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/day_app_widget_info"/>
        </receiver>
        <receiver android:name="com.johnmagdalinos.android.shopandcook.ui.appwidgets.WeekAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/week_app_widget_info"/>
        </receiver>
    </application>

</manifest>